{% extends 'base.html' %}

{% block content %}

<script>
  function doSubmit(e) {
    e.preventDefault();

    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/upload/",
      data: new FormData($("#uploadForm")[0]),
      contentType: false, 
      cache: false,
      processData: false,
      success: function (data) {
        $("#msg").text(`File uploaded successfully: ${data.filename}`);
      },
      error: function (xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function updateHistory() {
    const statusDict = {
      0: "Uploaded",
      1: "Preprocessing",
      2: "OCRing",
      3: "Annotating",
      4: "Done"
    };

    $.ajax({
      type: "GET",
      url: "http://127.0.0.1:8000/status/",
      success: function (data) {
        $('#history tbody').empty();
        $.each(data, function(i, task) {
          $('<tr>').append(
            $('<td>').text(task.id),
            $('<td>').text(task.filename),
            $('<td>').text(statusDict[task.status]),
          ).appendTo("#history tbody");
        });
      },
      error: function (xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  $(document).ready(function () {
    $('#uploadForm').submit(doSubmit);

    setInterval(updateHistory, 3000);
  });
</script>

<div class="row">
  <div class="col-md-12">
    <form id="uploadForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" name="myfile"></input>
          <label class="custom-file-label" for="customFile"></label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p id="msg"></p>
    <hr>
    <table class="table table-striped" id="history">
      <thead>
        <tr><td>Id</td><td>Filename</td><td>Status</td></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}